In [16]:
import pandas as pd
from  schedual.schedual import *

In [17]:
df = pd.read_csv("../table alg/collage - ict.csv")
df1 = df[df['Semester'] == 1]

In [18]:
data = {"dr":{},"dep":{}}
for i in df1['Professor'].unique():
    data['dr'][i]=tuple(df1[df1['Professor']==i]['Course'].unique())
for i in df1['Year'].unique():
    data['dep'][i]=tuple(df1[df1['Year']==i]['Course'].unique())
    # print("-----")

In [19]:
available_days: dict = {
    'Dr. Alicia Chen':       [1, 3, 5],
    'Dr. Marcus Johnson':    [2, 4, 6],
    'Dr. Emily Wong':        [1, 2, 4],
    'Dr. Robert Taylor':     [3, 5],
    'Dr. Sarah Martinez':    [1, 2, 3],
    'Dr. David Lee':         [2, 4],
    'Dr. Thomas Wilson':     [1, 3, 6],
    'Dr. Rachel Green':      [4, 5, 6],
    'Dr. Jennifer Lopez':    [2, 3, 6],
    'Dr. James White':       [1, 5],
    'Dr. Christopher Davis': [2, 4, 5],
    'Dr. Olivia Clark':      [3, 6],
    'Dr. Lisa Anderson':     [1, 4, 6],
    'Dr. Michael Brown':     [2, 3, 4, 5]
}
_={}
for d , days in available_days.items():
    for _d , cs in data['dr'].items():
        for c in cs:
            if d == _d:
                _[c] = days 
data['available_days'] =_

In [39]:
courses_hours = {
    'Intro. to Cyber Security': 1,
    'IT Essentials': 2,
    'Technical English 1': 2,
    'Mathematics 1': 2,
    'Physics': 2,
    'Programming Essentials in Python': 2,
    'Linux Essentials': 2,
    'Programming Essentials in C++': 2,
    'Web Programming I': 1,
    'Introduction to DB': 2,
    'Digital Engineering': 2,
    'Operating System': 2,
    'Advanced Programming in C': 2,
    'Data Communication': 2,
    'Java Programming II': 1,
    'Computer Architecture': 2,
    'Microprocessor': 2,
    'Computer Graphics': 2,
    'CCNA R&S II': 2,
    'Network Administration': 2,
    'Mobile Programming II': 1,
    'IoT Architecture & Protocols/IoT Programming': 2,
    'Artificial Intelligence': 2,
    'Windows Programming I': 1,
    'Signal Processing': 2,
    'CCNA R&S IV': 2,
    'CCNA Cybersecurity Operations': 2,
    'Server Administration': 2,
    'Encryption Algorithm': 2
}

In [5]:
data

{'dr': {'Dr. Alicia Chen': ('Intro. to Cyber Security',
   'CCNA Cybersecurity Operations',
   'Encryption Algorithm'),
  'Dr. Marcus Johnson': ('IT Essentials', 'Windows Programming I'),
  'Dr. Emily Wong': ('Technical English 1',),
  'Dr. Robert Taylor': ('Mathematics 1',),
  'Dr. Sarah Martinez': ('Physics',
   'Artificial Intelligence',
   'Signal Processing'),
  'Dr. David Lee': ('Programming Essentials in Python',
   'Programming Essentials in C++',
   'Advanced Programming in C'),
  'Dr. Thomas Wilson': ('Linux Essentials',
   'Operating System',
   'Server Administration'),
  'Dr. Rachel Green': ('Web Programming I', 'Java Programming II'),
  'Dr. Jennifer Lopez': ('Introduction to DB',),
  'Dr. James White': ('Digital Engineering',
   'Computer Architecture',
   'Microprocessor'),
  'Dr. Christopher Davis': ('Data Communication',
   'CCNA R&S II',
   'Network Administration',
   'CCNA R&S IV'),
  'Dr. Olivia Clark': ('Computer Graphics',),
  'Dr. Lisa Anderson': ('Mobile Programming II',),
  'Dr. Michael Brown': ('IoT Architecture & Protocols/IoT Programming',)},
 'dep': {'1': ('Intro. to Cyber Security',
   'IT Essentials',
   'Technical English 1',
   'Mathematics 1',
   'Physics',
   'Programming Essentials in Python'),
  '2': ('Linux Essentials',
   'Programming Essentials in C++',
   'Web Programming I',
   'Introduction to DB',
   'Digital Engineering',
   'Operating System'),
  '3s': ('Advanced Programming in C',
   'Data Communication',
   'Java Programming II',
   'Computer Architecture',
   'Microprocessor',
   'Computer Graphics'),
  '3n': ('CCNA R&S II',
   'Java Programming II',
   'Data Communication',
   'Network Administration',
   'Microprocessor',
   'Computer Architecture'),
  '4s': ('CCNA R&S II',
   'Mobile Programming II',
   'IoT Architecture & Protocols/IoT Programming',
   'Artificial Intelligence',
   'Windows Programming I',
   'Signal Processing'),
  '4n': ('CCNA R&S IV',
   'IoT Architecture & Protocols/IoT Programming',
   'Artificial Intelligence',
   'CCNA Cybersecurity Operations',
   'Server Administration',
   'Encryption Algorithm')},
 'available_days': {'Intro. to Cyber Security': [1, 3, 5],
  'CCNA Cybersecurity Operations': [1, 3, 5],
  'Encryption Algorithm': [1, 3, 5],
  'IT Essentials': [2, 4, 6],
  'Windows Programming I': [2, 4, 6],
  'Technical English 1': [1, 2, 4],
  'Mathematics 1': [3, 5],
  'Physics': [1, 2, 3],
  'Artificial Intelligence': [1, 2, 3],
  'Signal Processing': [1, 2, 3],
  'Programming Essentials in Python': [2, 4],
  'Programming Essentials in C++': [2, 4],
  'Advanced Programming in C': [2, 4],
  'Linux Essentials': [1, 3, 6],
  'Operating System': [1, 3, 6],
  'Server Administration': [1, 3, 6],
  'Web Programming I': [4, 5, 6],
  'Java Programming II': [4, 5, 6],
  'Introduction to DB': [2, 3, 6],
  'Digital Engineering': [1, 5],
  'Computer Architecture': [1, 5],
  'Microprocessor': [1, 5],
  'Data Communication': [2, 4, 5],
  'CCNA R&S II': [2, 4, 5],
  'Network Administration': [2, 4, 5],
  'CCNA R&S IV': [2, 4, 5],
  'Computer Graphics': [3, 6],
  'Mobile Programming II': [1, 4, 6],
  'IoT Architecture & Protocols/IoT Programming': [2, 3, 4, 5]}}

In [40]:
def main(display_dfs:bool= False):
    table = schedule()
    table.halls = [101, 115, 208, 209, 210, 303, 325, 326, 327, 329]
    table.courses= sorted(list(data['available_days'].keys()))
    table.available_days = data['available_days']
    table.professors = data['dr']
    table.departments = data['dep']
    table.course_hours = courses_hours
    
    table.create_variables()
    
    table.constrain_days()
    table.only_slot()
    table.add_no_overlap_constraints()
    table.constrain_pro()
    table.constrain_departments()
    table.objective_function(100,10)

    table.problem.solve()
    if 1 == table.problem.status and display_dfs: 
        print("dataframe is ready")
        for i in table.solution_to_dataframe():
            display(HTML(i.to_html(escape=False))) 
        
    else:
        print("No valid schedule found",table.problem.status)
    return table.solution_to_dataframe()

In [41]:
dfs = main(True)

dataframe is ready

In [15]:
dfs[0]

,1,2,3,4,5,6,7,8
Day/Hour - 1,,,,,,,,
1,Physics (303) - Dr. Sarah Martinez,Technical English 1 (208) - Dr. Emily Wong,Intro. to Cyber Security (208) - Dr. Alicia Chen,,,,,
2,IT Essentials (115) - Dr. Marcus Johnson,,Programming Essentials in Python (115) - Dr. D...,,,,,
3,Mathematics 1 (101) - Dr. Robert Taylor,,,,,,,
4,,,,,,,,
5,,,,,,,,